@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat Alternates";
}

.margins {
    margin-left: 140px;
    margin-right: 140px;
}

header {
    height: 80px;
    display: flex;
    margin-left: 140px;
}

.logo {
    font-size: 20px;
}

.account img{
    height: 50px;
    margin-top: 10.5px;
    margin-right: 140px;
}

.menu_head {
    font-size: 15px;
    margin-left: 880px;
    margin-top: 27px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    width: 600px;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    gap: 50px;
    justify-content: left;
}

.img_1 {
    height: 500px;
}

.title, .title_price {
    font-size: 50px;
    text-align: left;
    text-transform: uppercase;
}

.text {
    margin-top: 35px;
    font-size: 20px;
    text-align: justify;
}

.title_price {
    text-align: center;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border: solid 2px black;
    width: 800px;
    margin: auto;
    margin-top: 20px;
}

td {
    border: solid 2px black;
    font-size: 30px;
    width: 350px;
}

.pp {
    text-align: center;
}

.tt {
    padding-left: 40px;
}

.txt_second {
    font-size: 20px;
    color: rgba(109, 109, 109, 1);
    text-align: justify;
    margin-top: 40px;
}

.txt_1, .txt_2 {
    margin-bottom: 10px;
}

hr {
    background-color: rgba(225, 198, 169, 1);
    height: 2px;
    opacity: 3;
    margin-top: 40px;
}

footer {
    margin-top: 20px;
    margin-left: 140px;
    display: flex;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    margin-left: 300px;
    gap: 30px;
}

.title_fot {
    margin-bottom: 15px;
    font-size: 20px;
}

.img_2 {
    display: none;
}

.title_media {
    display: none;
}

@media (max-width: 750px) {
    .margins {
        margin-left: 10px;
        margin-right: 10px;
    }

    header {
        margin-left: 10px;
        margin-right: 10px;
        height: 50px;
    }

    .logo {
        font-size: 12px;
    }

    .menu_head {
        font-size: 10px;
        margin-top: 20px;
        margin-left: 10px;
        gap: 20px;
    }

    .account img {
        text-align: right;
        margin-right: 0px;
        height: 30px;
        margin-top: 8px;
    }

    .img_1 {
        display: none;
    }

    .img_2 {
        display: block;
        width: 380px;
    }

    .container {
        display: block;
    }

    .title {
        display: none;
    }

    .title_media{
        display: block;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
    }

    .text {
        margin-top: 20px;
    }

    .title_price {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
    }

    table {
        border-collapse: collapse;
        border: solid 2px black;
        width: 380px;
        margin: auto;
        margin-top: 20px;
    }
    
    td {
        border: solid 2px black;
        font-size: 20px;
        width: 190px;
    }
    
    .pp {
        text-align: center;
    }
    
    .tt {
        padding-left: 20px;
    }
    
    .txt_second {
        font-size: 20px;
        color: rgba(109, 109, 109, 1);
        text-align: justify;
        margin-top: 40px;
    }

    footer {
        margin-left: 10px;
        margin-right: 10px;
    }

    .title_fot {
        font-size: 15px;
    }

    .first_col, .second_col, .third_col, .fourth_col, .fifth_col {
        font-size: 11px;
    }

    .info {
        grid-template-columns: repeat(2, 170px);
        margin-left: 20px;
        gap: 10px;
        margin-bottom: 20px;
    }
}